#placeholder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.selected {
  color: red;
  background-color: red;
}


#show a {
  margin-right: 10px;
}

.card-image {
  position: relative;
}

.trade-icon {
  position: absolute;
}

.request-trade {
  position: absolute;
  top: 0px;
  right: 30px
}

h2 {
  text-align: center;
}

i {
  background-color: black;
  border-radius: 50%;
  color: red;
}

.tick {
  color: green;
  background-color: white;
  border: 1px solid black;
}
